h1 {
    font-size: calc(1.5em + 1vw);
}

h2 {
    font-size: calc(1em + 1vw);
}

body {
    background: #3a0a81;
background: radial-gradient(circle, #3a0a81 0%, #1d0446 66%);
font-size: calc(0.5em + 1vw);
min-width: none;
}

nav {
    height: 100%;
    max-height: 110px;
    left: 0;
    top: 0;
    width: 100%;
    position: fixed;
    background-color: #372096;
   
}

nav img {
    max-width: 100px;
    max-height: 100px;
}

footer {
    height: 10%;
    max-height: 200px;
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
}

footer img {
  
    height: 100%;
    max-width: 100%;
    float: right;
}

#content-card {
    /* width: 50%; */
}

#card-topprofits{
 display: none;
}