h1 {
    font-size: calc(1.5em + 1vw);
}

h2 {
    font-size: calc(1em + 1vw);
}

body {
    background: rgb(58,10,129);
background: radial-gradient(circle, rgba(58,10,129,1) 0%, rgba(29,4,70,1) 66%);
font-size: calc(0.5em + 1vw);
min-width: none;
}

footer {
    height: 10%;
    max-height: 200px;
    position:absolute;
    bottom: 0;
    width: 100%;
}

footer img {
  
    max-height: 100%;
    max-width: auto;
    position: absolute;
    right: 0;
}

#content-card {
    /* width: 50%; */
}